.map {
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100%;
}

.leaflet-marker-icon {
  animation: 0.35s ease-in 0s 1 fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
