@import "./shared-styles.scss";

div.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1001; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

  & .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background-color: #fefefe;
    margin: auto;
    width: 80%;
    height: 80vh;
    box-shadow: 0 0 40px #000000b3,
      inset 0rem 0rem 2rem 0.5rem rgba(54, 56, 57, 0.62);
    border-radius: 10px;
    text-align: center;
    font-size: 2.2rem;
    border: 5px solid $wls-greyblack;
    text-align: left;

    & .inner-content {
      border: 4px solid $wls-greyblack;
      padding: 20px;
      margin: 40px;
      overflow: auto;
      white-space: pre-wrap;
      height: 80rem;
      width: 95%;

      & h2 {
        font-size: 4.5rem;
      }

      & table,
      tr,
      td,
      th {
        border: 1px solid black;
      }

      & table {
        width: 100%;
      }

      & td {
        padding: 10px;
        min-width: 16rem;
      }

      & th {
        text-align: center;
        background-color: #ebebeb;
      }

      & p {
        white-space: pre-wrap;
        border-bottom: 1px solid black;
        padding-bottom: 7rem;
      }

      & h3 {
        margin-top: 5rem;
        font-size: 3.5rem;
      }
      & h2,
      h3 {
        text-align: center;
      }
    }
  }
  /* The Close Button */
  & .close {
    position: absolute;
    right: 0;
    top: 0;
    color: $wls-darkblue;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid $wls-darkblue;
    padding: 1px 5px;
    margin-right: 7px;
    margin-top: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in;
  }

  .close:hover,
  .close:focus {
    color: white;
    background-color: $wls-darkblue;
    text-decoration: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  div.modal {
    & .modal-content {
      height: 90vh;
      font-size: 1.6rem;

      & .inner-content {
        margin: 0;
        border: 0;

        & h2 {
          font-size: 2.5rem;
        }

        & p {
          white-space: pre-wrap;
        }

        & h3 {
          margin-top: 5rem;
          font-size: 2rem;
        }
      }
    }
    & .close {
      background-color: $wls-brightblue;
      color: white;
    }
  }
}
